* {
	all: unset;
	font-family: "Cozette";
}

.volume {
	color: #fb4934;
	progress{
		background: #fb4934;
	}
}

.battery {
	color: #fabd2f;
	progress{
		background: #fabd2f;
	}
}

.resource {
	color: #83a598;
	progress{
		background: #83a598;
	}
}

.block {
	background: #504945;
	padding: 3px 4px 3px 4px;
}

.status-block {
	background: #504945;
	padding: 3px;
}

.secondary-block {
	background: #3c3836;
	padding: 3px;
}

.date {
	color: #b16286
}

.time {
	color: #98971a;
}

.workspace {
	color: #d5c4a1;
	padding: 3px 4px 3px 4px;
}

.focused {
	background: #8ec07c;
	padding: 8px 4px 8px 4px;
	font-weight:bold;
}


window {
	background: #282828;
	color: #504945;
	border-width: 0px 2px 0px 0px;
	border-style: none dotted none none;
}
window > * {
	padding: 4px 6px 4px 4px;
}


progressbar trough{
	background: #504945;
	min-height: 1px;
	min-width: 1px;
	padding: 0px;
	margin: 0px;

}

progress{
	background: #98971a;
	min-height: 1px;
}
