* {
	all: unset;
	font-family: "Cozette";
}

.status-volume {
	color: #fb4934;
}

.status-battery {
	color: #fabd2f;
}

.status-time {
	color: #b8bb26;
}

.status-resource {
	color: #83a598;
}

.block {
	background: #3c3836;
	padding: 5px 8px 5px 8px;
}

.date {
	color: #b16286
}

.time {
	color: #98971a;
}

window {
	background: #282828;
	color: #7c6f64;
}
window > * {
	padding: 6px;
}

